@font-face {
    font-family: "Apple";
    src: url("SF-Pro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Apple", -apple-system;
}


.lightmode {
    transition: all 0.4s ease-out, color 0.2s ease-out;
}

.lightmod {
    transition: all 0.4s ease-in, color 0.2s ease-in;
}

:root {
    --back-groundcolor: #121212;
    --text-color: #ffffff;
    --text-color-reset: #ffffff;
    --textnavleft-color1: #fffffff4;
    --textnavright-color2: #ffffffbb;
    --footer-textcolor: #ffffffe2;
    --footer-bordercolor: #ffffff23;
    --prt-2-backgroundcolor: #ffffff13;
}

.lightmode {
    --back-groundcolor: #d0d0d0;
    --text-color: #000000;
    --text-color-reset: #000000;
    --textnavleft-color1: #000000f4;
    --textnavright-color2: #000000bb;
    --footer-textcolor: #000000cc;
    --footer-bordercolor: #00000023;
    --prt-2-backgroundcolor: #00000013;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Apple";
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    height: 100%;
    touch-action: manipulation;
    /* tells browser not to zoom on double tap */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Disable user text selection */
body,
* {
    user-select: none;
    /* Standard */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}

.main img {
    /* Chrome/Safari */
    -webkit-user-drag: none;
    /* Safari */
    -moz-user-drag: none;
    /* Firefox */
    -ms-user-drag: none;
    /* IE10+ */
    pointer-events: none;
    /* disables mouse events on images */
    -webkit-touch-callout: none;
    /* disables context menu on long tap (iOS) */
}





body {
    min-height: 100dvh;
    /* visible viewport height */
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background-color: var(--back-groundcolor);
    overflow-y: auto;
    overscroll-behavior-y: auto;
    width: 100vw;
}

nav {
    width: 100%;
    background-color: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding-block: 19px;
    padding-inline: 35px;
}



.left {
    display: flex;
    gap: 23px;
}

.right {
    display: flex;
    gap: 9px;
}

.pt-1 img {
    height: 42px;
}

.prt-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#light {
    transition: all 1s ease-in-out;
}

.prt-2 i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: all 600ms ease-in-out;
}



.pt-2 {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.pt-2 a {
    color: var(--textnavright-color1);
    text-decoration: none;
}

.prt-1 {
    display: flex;
    align-items: center;
    font-size: 21px;
    padding-top: 4px;
}

.prt-1 a {
    color: var(--textnavleft-color2);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.prt-1 a:hover {
    font-size: 21.14px;
    color: #fff;
}


.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 7.3%;
    right: 0;

    width: 370px;
    height: 80vh;

    border-radius: 20px;
    border: 2px solid #ffffff1d;

    

    padding-top: 60px;
    margin-top: 20px;
    padding-bottom: 30px;

    padding-left: 40px;
    box-sizing: border-box;

    background-color: transparent;

    background:linear-gradient(110deg, #1a1a1a,#121212);
    overflow: hidden;
    transform: translateX(100%) scale(0.75);

    transform-origin: top right;

    transition: transform 500ms cubic-bezier(.14,1.56,.80,1) ;

    margin-right: 35px;

    gap: 20px;

    z-index: 1000;
}

.menu-bar.active{
    transform: translateX(0) scale(1);
}


.menu{
    display: flex;
    flex-direction: column;
}



.upper {
    display: flex;
    flex-direction: column;
    gap: 32px;

  
}

.bottom {
    display: flex;
    padding-bottom: 15px;
    gap: 7px;
}

.btm-text {
    color: #fff;
    font-size: 25px;
}

.theme-logo img {
    height: 32px;
}

.theme-logo i {
    padding-top: 10px;
    color: white;
    font-size: 25px;
}

.menu-bar ul {
    display: flex;
    left: 0;
    list-style: none;

    & li a {
        color: white;
        font-size: 25px;
        text-decoration: none;
    }
}

.list-1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 23px;
}

.ul-prt-1 i {
    color: #fff;
    font-size: 25px;
    padding-bottom: 10px;
}

.content {
    background-color: transparent;
    height: calc(100vh - 147px);
    width: 100%;
    margin: 0 auto;
     min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 100px;
}


.line0 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    color: var(--text-color);

}

.plus {
    cursor: pointer;
    font-size: 6.5rem;
    opacity: 0.75;

}

.num {
    cursor: default;
    font-size: 9rem;
}

.minus {
    cursor: pointer;
    font-size: 6.5rem;
    opacity: 0.75;
}

.line1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.reset-btn img {

    height: 24px;
}

.reset {
    color: var(--text-color-reset);
    font-size: 1.6rem;
}

.main1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    padding-top: 70px;

    width: 100%;
   
}

.main2 {
    padding-bottom: 120px;
    background-color: transparent;
    width: 100%;
    
}

.line3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.finger img {
    height: 140px;
    opacity: 0.4;
}

.finger-text {
    display: block;
    font-size: 19px;
    color: var(--text-color);
    padding-left: 5px;
    opacity: 0.4;
}

.finger-text p {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* FOOTER */
footer {
    width: 100%;
    flex-shrink: 0;
}

.text {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 22px;
    width: 98%;
    text-align: center;
    border-top: 1.4px solid var(--footer-bordercolor);
    color: var(--footer-textcolor);
    padding-block: 25px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 13px;

}

.container{
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#svg{
    fill: rgb(0, 0, 0);
    z-index: 999;
    height: 80px;
    width: 62px;
    stroke: #ffffff;
    stroke-dasharray: 4500;
    stroke-width: 3px;
    animation: drow 7s ease;
}

.logo-name{
    color: #fff;
    fill-opacity: 0;
    font-size: 18;
    padding-left: 15px;
    letter-spacing: 2px;
}

@keyframes drow{
    0% {
        stroke-dashoffset: 4500;
    } 
    100% {
        stroke-dashoffset: 0;
    } 
}

